[Unit]
Description=IPFS daemon

[Service]
ExecStart=/usr/local/bin/ipfs daemon --migrate --enable-gc --manage-fdlimit
Restart=on-failure

[Install]
WantedBy=default.target
